<div>
  <div class="lists-banner">
    <h2>Mes listes</h2>
  </div>
    <%= link_to "Nouvelle liste", new_list_path, id: "button-lists", class: "btn btn-primary" %>
    <div class="lists-grid container">
      <% if @lists.present? %>
        <% @lists.each do |list| %>
            <div class="list-card" style="background-image: url('<%= cl_image_path list.photo.key %>')">
              <%= link_to list_path(list) do  %>
                <%= list.name.upcase %>
              <% end %>
              <%= link_to "X", list_path(list), method: :delete, class: "button-delete" %>
            </div>
        <% end %>
      <% else %>
        <p>C'est le moment de se créer une liste !!</p>
      <% end %>
    </div>
</div>
