<div>
  <div class="list-banner" style="background-image: url('https://images.pexels.com/photos/436413/pexels-photo-436413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
    <h2><%= @list.name.upcase %>(<%= @list.bookmarks.count %> films)</h2>
    <%= link_to "Ajouter un film",  new_list_bookmark_path(@list), class: "btn btn-success"  %>
  </div>
  <div class="bookmarks-grid container">
    <% if @list.bookmarks.present? %>
      <% @list.bookmarks.each do |bookmark| %>
        <div class="bookmark-card">
          <%= image_tag bookmark.movie.poster_url, alt: "movie picture" %>
          <div class="bookmark-title-rating">
            <h3><%= bookmark.movie.title %></h3>
            <p><%= bookmark.movie.rating %> <i class="fas fa-star"></i></p>
          </div>
          <div class="bookmark-overview">
            <p><%= bookmark.movie.overview %></p>
          </div>
          <div class="bookmark-comment-delete">
            <p><i class="fas fa-quote-left"></i> <%= bookmark.comment %></p>
            <%= link_to "Delete", bookmark_path(bookmark), method: :delete, class: "bookmark-delete"  %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="container text-center">
        <p> Bah alors c'est bien vide cette liste</p>
      </div>
    <% end %>
    </div>
</div>
